body {
    background-image: url('fotos/paredblanca.png'); /* Especifica la ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
}
h1{
    margin-top: 0px;
    text-align: end;
}
#primariotexto{
    font-family: 'Irish Grover';
    font-size: 40px;
    text-align: center;
}
.color{
    color: #9E1407;
}