body {
    background-image: url("../img/paredblanca.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 40px;
    color: #9E1407;
}

.tabla-pedidos {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabla-pedidos th,
.tabla-pedidos td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabla-pedidos th {
    background-color: #9E1407;
    color: #fff;
    font-size: 16px;
}

.tabla-pedidos td {
    background-color: #f9f9f9;
    font-size: 14px;
}

.tabla-pedidos tr:hover {
    background-color: #e0e0e0;
}

.boton {
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    height: 200px;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.frio {
    background-color: #43a047;
    border: 2px solid #43a047;
}

.caliente {
    background-color: #e53935;
    border: 2px solid #e53935;
}

.frio:hover {
    background-color: #43a047;
    border: 2px solid #43a047;
}

.caliente:hover {
    background-color: #e53935;
    border: 2px solid #e53935;
}

.boton h3 {
    font-size: 18px;
    font-weight: bold;
}

.boton p {
    font-size: 14px;
    margin: 0;
}

.confirmar-seleccion {
    background-color: white;
    color: #FF7043;
    border: 2px solid #FF7043;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.confirmar-seleccion:hover {
    background-color: #FF7043;
    color: white;
}

.log-out {
    background-color: white;
    color: #ff4343;
    border: 2px solid #ff4343;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.log-out:hover {
    background-color: #ff4343;
    color: white;
}
.logout-button {
    background-color: white;
    color: #ff4343;
    border: 2px solid #ff4343;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    float: right; /* Alinea el botón a la derecha */
    margin-right: 10px; /* Espaciado desde el borde derecho */
    margin-top: 10px; /* Espaciado desde el borde superior */
}

.logout-button:hover {
    background-color: #ff4343;
    color: white;
}
