body {
    background-image: url("../img/paredblanca.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

#primariotexto {
    text-align: center;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color {
    color: #9E1407;
}

h1 {
    font-family: 'Irish Grover';
    font-size: 40px;
}

.texto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-container h2 {
    font-size: 25px;
    color: #666666;
    font-family: 'Irish Grover';
}

#lista-pedidos {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none; /* Eliminar puntos de la lista */
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

li:hover {
    background-color: #e0e0e0;
}

.log-out {
    background-color: white;
    color: #ff4343;
    border: 2px solid #ff4343;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.log-out:hover {
    background-color: #ff4343;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.2);
    margin-left: 10px;
}
#listado-pedidos li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#listado-pedidos p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
